{% extends "layout.njk" %}

{% block head %}
  <title>{{item.title}}</title>
{% endblock %}

{% block recipes %}

  <div class="card" id="{{item.index}}">
    <div class="detail__thumbnail">
        <img src="{{item.image}}" alt="Imagem de {{item.title}}" />
    </div>
    <div class="title_details">
      <p class="name">{{item.title}}</p>
      <p class="by">{{item.author}}</p>
    </div>
    
  </div>
  
  <!--informações -->
  <section class="info">
    <div class="sub-title-ingredientes">
      <h1> Ingredientes </h1> 
      <a class="showhide-button">ESCONDER</a>
    </div>

    <div class="info_content">
    <!--id para cria o conceito de esconder o conteudo atráves do javascript -->
      {% for ingredient in item.ingredients %}
        <li>{{ingredient}};</li>
      {% endfor %}
    </div>
    
    <div class="info">
      <div class="sub-title-preparo">
        <h1>Modo de preparo</h1> <a class="showhide-button">ESCONDER</a>
      </div>
      <div class="info_content">
        {% for preparation in item.preparation %}
        <li>{{preparation}};</li>
        {% endfor %}
      </div>
      
    </div>
    
    <div class="info"> 
      <div class="sub-title-adicionais">
        <h1>Informações adicionais</h1> <a class="showhide-button">ESCONDER</a>
      </div>
      <div class="info_content">
        {{item.information}}
      </div>
      
    </div>
  </section>
<script src='/script.js'></script>
{% endblock %}