{% extends "layout.njk" %}

{% block recipes %}

<div class="wrapper">
  <div class="wrapper-content">
    <div class="melhores-receitas">
      <h1>
      As melhores receitas
      </h1>
    </div>
    <div class="banner__text">
      <p>
      Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </p>
    </div>
    <div class="chef">
      <img  src="/assets/chef.png" alt="imagem chef">
    </div>
  </div>
</div>

<section>
  <div class="mais-acessadas">
    <h2>Mais acessadas</h2>

    <div class="cards">

    {% for item in items %}

    <div class="mais-acessadas__card">
      <div class="thumbnail">
          <img src="{{item.image}}" alt="Imagem de {{item.title}}" />
      </div>
      <p class="name">{{item.title}}</p>
      <p class="by">{{item.author}}</p>
    </div>

    {% endfor %}

    </div>
  </div>
</section>

{% endblock %}